* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

#top-bar {
    text-align: center;
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-bar h1 {
    display: inline-block;
    margin: auto;
    /*not center*/
}

#options-btn {
    float: right;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1em 1.5em;
    font-size: 1em;
}

#flashcard {
    width: 70vw;
    height: 80vh;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 50px;
}

#progress-bar {
    background-color: rgb(80, 210, 194);
    height: 0.5em;
    width: 0%;
}

#nepali-letter-div {
    width: 100%;
    height: 30vh;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

#nepali-letter {
    margin-top: 2%;
    margin-bottom: 10%;
    color: black;
    font-size: 15em;
}

.btn-div {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    width: 30vw;
    height: 12vh;
    border-radius: 25px;
    padding: 16px 32px;
    font-size: 40px;
    margin: 0.3em 0.3em;
}

button {
    color: black;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    text-align: center;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn:not(.btn-correct):not(.btn-incorrect):not(.btn-show-correct):hover {
    border: 2px solid black;
}

.btn-correct {
    border: 6px solid rgb(80, 210, 194);
}

.btn-incorrect {
    border: 6px solid rgb(255, 87, 95);
}

.btn-show-correct {
    border: 6px dashed rgb(80, 210, 194);
}

#check-info {
    height: 1.5em;
    margin-left: 2.5em;
    margin-bottom: 0.2em;
    font-size: 1.5em;
}

#press-key-info {
    width: fit-content;
    color: black;
    background-color: white;
    border: 2px solid gray;
    border-radius: 40px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
}

#modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    color: black;
}

#modal-content {
    width: 50%;
    height: fit-content;
    background-color: white;
    margin: 5% auto;
    padding: 2em 5em;
    border: 1px solid #888;
    border-radius: 30px;
    text-align: center;
}

hr {
    border: 3px solid #e0e0e0;
}

.vertical-line {
    border-left: 6px solid #e0e0e0;
    height: 100%;
}

#accuracy-bar-container {
    width: 100%;
    height: 1.5em;
    border: 2px solid #888;
    background-color: #f1f1f1;
    text-align: center;
}

#accuracy-bar {
    height: 1.5em;
}

#close-btn {
    color: #aaa;
    float: right;
    font-weight: bold;
    font-size: 2em;
}

#close-btn:hover {
    color: black;
    cursor: pointer;
}

.row {
    display: flex;
    width: 70%;
    height: 6em;
    margin: auto;
}

.column {
    flex: 50%;
    font-size: 1.5em;
}

#new-round-btn {
    width: fit-content;
    border-radius: 40px;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em;
    font-size: 1.3em;
}

#comment-p {
    font-size: 2em;
    margin-bottom: -0.2em;
}

#comment-div {
    width: fit-content;
    margin: auto;
}

img {
    width: 20%;
    height: 30%;
}

a {
    display: block;
}

#image-container {
    margin-top: 1em;
}